.slide {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  .slide-item {
    padding: 15px;
    margin-left: 3px;
    width: 24%;
  }
}
.img {
  padding: 5px;
  background: white;
  border: 1px solid #bbb;
  cursor: pointer;
  max-width: 100%;
  height: auto;
  &:hover {
    transform: scale(0.9);
    transition: 1s;
  }
}
.close {
  display: none;
}
.modal-gallery {
  position: fixed;
  width: 100%;
  background: rgba(0, 0, 0, 0.582);
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 3rem;
  z-index: 9999999999999999;
  height: 100%;
  align-items: center;
  .content-modal {
    position: relative;
    margin: 5px;
    img {
      padding: 5px;
      border: 1px solid;
      background: white;
      max-width: 100%;
      height: auto;
    }
    .close {
      z-index: 3;
      display: block;
      cursor: pointer;
      position: absolute;
      top: 9px;
      right: 9px;
      color: white;
      i {
        font-size: 25px;
      }
    }
    .next-btn {
      position: absolute;
      top: 50%;
      right: 10px;
      cursor: pointer;
      transform: translateY(-50%);
      cursor: pointer;
      i {
        font-size: 35px;
        color: white;
      }
    }
    .prev-btn {
      position: absolute;
      top: 50%;
      left: 10px;
      cursor: pointer;
      transform: translateY(-50%);
      cursor: pointer;
      i {
        color: white;
        font-size: 35px;
      }
    }
  }
}
@media screen and (max-width: 1200px) {
  .slide {
    justify-content: flex-start;
    .slide-item {
      width: 33%;
    }
  }
}
@media screen and (max-width: 992px) {
  .slide {
    justify-content: center;
    .slide-item {
      width: 49%;
    }
  }
}
